$quicksandFont: 'Quicksand', sans-serif;
$mulishFont: 'Mulish', sans-serif;

$laranja: #E48F01;

@mixin flex(){display: flex;align-items: center;justify-content: center;}
@mixin centerAbsolute(){top: 50%;bottom: 50%;transform: translate(-50%,-50%);}
@mixin botao($param){
    position: relative;
    width: $param;height: 45px;
    border: none;border-radius: 10px;
    box-shadow: 0 0 10px rgb(228, 143, 1, .25);
    background: $laranja;
    text-transform: capitalize;text-shadow: 0 2.5px 5px rgb(0, 0, 0,.25);
    font-weight: bold;font-size: 1.25em;font-family: $quicksandFont;
    outline: none;
    transition: .25s all;

    &:hover{box-shadow: 0 0 15px rgb(228, 143, 1, .75);}
}

*{
    font-weight: lighter;font-family: $mulishFont;
    color: #fff;

    body{background: #000;}

    .botao{@include botao(345px);cursor: pointer;}

    .subtitulo{
        font-size: 1.625em;font-weight: normal;font-family: $quicksandFont;

        span{color: $laranja;font-weight: normal;}

        @media (max-width: 720px) {
            font-size: 1.1785em;
        }
    }

    .texto-leitura{font-size: 1em;font-weight: lighter;}
}

.container{
    
    #banner{
        position: relative;
        height: 100vh;
        
        @media (min-width: 1130px) {
            display: grid; grid-template: auto; place-items: center; place-content: center;
            grid-template-areas: 'tituloPrincipal fotoFotografo'
            'subTextoBtn fotoFotografo';

            #tituloPrincipalBanner{
                position: relative;
                top: 30px;left: 7px;
            }

            #foto-banner{margin-left: 112px;}

            div{
                position: relative;
                top: -23px;
            }
        }

        #tituloPrincipalBanner{
            font-family: $quicksandFont;span{font-weight: bold;color: $laranja;}
            grid-area: tituloPrincipal;
            max-width: 577px;
        }

        #foto-banner{
            max-width: 441px;
            grid-area: fotoFotografo;
        }

        div{
            grid-area: subTextoBtn ;
            max-width: 555px;
            
            .texto-leitura{
                margin: 25px 0;
            }
        }

        #arrow{
            position: absolute;
            bottom: 25px;
            @include flex();
            width: 24px;height: 18px;
            background: transparent url('./svg/arrow.svg') no-repeat center center;background-size: cover;
            grid-area: btnLink;
        }

        @media (max-width:720px) {
            margin: 0 calc(50px - 12px);
            @include flex(); flex-direction: column;

            #tituloPrincipalBanner{
                font-family: $quicksandFont; font-size: 1.9375em;
                span{font-weight: bold;color: $laranja;}
            }

            #foto-banner{
                max-width: 275px;
            }
        }
    }
}